@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>     
    <title>Geoculture</title>
    <script src="~/JS/jquery.js"></script>
	<script src="~/JS/ui.core.js"></script>
    <script src="~/JS/ui.dropdownchecklist.js"></script>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCULi_E3r3_ubGr6LDGMZm3nOqHR-4JN5E&sensor=true">
    </script>
	<link rel="stylesheet" type="text/css" href="~/CSS/ui.dropdownchecklist.css" />
	<link rel="stylesheet" type="text/css" href="~/CSS/style.css" />
    <script>
        $(document).ready(function () {
            //w=$("#tdFilter").getWidth();
            $("#s1").dropdownchecklist({ width: 400 });
            $("#tdInfo").hide();
        });

        var map;
        var markers = [];
        var youAreHereMarker;

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(map_initialize, no_geolocation, {'timeout': 10000});
            }
            else {
                no_geolocation();
            }
        }

        function no_geolocation() {
            var position = {
                'coords': {
                    'latitude': 59.95,
                    'longitude': 30.316667
                }
            };
            map_initialize(position);
        }
        
        function map_initialize(position) {
            var mapOptions = {
                center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            loadInstitutions();
            youAreHereMarker = new google.maps.Marker({
                position: mapOptions.center, map: map,
                icon: new google.maps.MarkerImage('http://google.com/mapfiles/arrow.png')
            });
        }

        function getContent(institution) {
            var content = institution.Name + "<br>";
            if (institution.Email)
                content += "email: " + institution.Email + "<br>";
            if (institution.Phone)
                content += "телефон: " + institution.Phone + "<br>";
            if (institution.Site) {
                content += 'сайт: ';
                var sites = institution.Site.split(',');
                var http = 'http://';
                for (var i = 0; i < sites.length; i++) {
                    var site = sites[i].trim();
                    if (!(site.substr(0, http.length) == http))
                        site = http + site;
                    if (i > 0)
                        content += ', ';
                    content += '<a href="' + site + '">' + site + '</a>';
                }
                content += '<br>';
            }
            if (institution.WorkingHours)
                content += "время работы: " + institution.WorkingHours;
            return content;
        }

        function insertMarkers(data) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
            institutions = JSON.parse(data);
            var infoWindow = new google.maps.InfoWindow();
            for (var i = 0; i < institutions.length ; i++) {
                var institution = institutions[i];
                var position = new google.maps.LatLng(institution.Lat, institution.Lng);
                var marker = new google.maps.Marker({ position: position, map: map, icon: new google.maps.MarkerImage(institution.Icon) });
                makeInfoWindowEvent(map, infoWindow, institution, marker);
                markers.push(marker);
            }
            makeInfoWindowEvent(map, infoWindow, null, youAreHereMarker);
            google.maps.event.addListener(infoWindow, 'closeclick', function() { $("#tdInfo").fadeOut("fast");});
        }

        function makeInfoWindowEvent(map, infowindow, institution, marker) {
            google.maps.event.addListener(marker, 'click', function () {
                var content = (institution == null) ? "You are here" : getContent(institution);
                map.panTo(marker.getPosition());
                infowindow.setContent(content);
                infowindow.open(map, marker);
                if (institution != null) {
                    loadWiki(institution);
                }
            });
        }

        function loadWiki(institution) {
            $.post("Home/Wiki", { title: institution.Name }, function (data) {
                $("#tdInfo").fadeIn("fast");
                $("#tdInfo").html(data);
            });
        }

        function loadInstitutions() {
            inputArray = document.getElementsByTagName("input");
            $.post("Home/Institutions", {
                ch1: inputArray[0].checked, ch2: inputArray[1].checked, ch3: inputArray[2].checked,
                ch4: inputArray[3].checked, ch5: inputArray[4].checked, ch6: inputArray[5].checked,
                ch7: inputArray[6].checked, ch8: inputArray[7].checked
            },
                insertMarkers);
        }

    </script>
</head>
<body onload="getLocation()">
    <table> 
        <tr style="height:10%;max-height:20px">
            <td id="tdName" style=""> 
                 <center>St. Petersburg Cultural Institutions Catalogue</center></td>
        </tr>
        <tr style="height:5%;max-height:20px">
           <td id="tdFilter">
                <form>
                    Фильтры: 
                    <input value="ch1" type="checkbox" onchange = 'loadInstitutions();' checked="checked" />Музеи</>
                    <input value="ch2" type="checkbox" onchange = 'loadInstitutions();'/>Театры</>
                    <input value="ch3" type="checkbox" onchange = 'loadInstitutions();'/>Высnавочные залы</>
                    <input value="ch4" type="checkbox" onchange = 'loadInstitutions();'/>Концертные залы</>
                    <input value="ch5" type="checkbox" onchange = 'loadInstitutions();'/>Кинотеатры<br/>
                    Фильтры по наличию:                                   
                    <input value="ch6" type="checkbox" onchange = 'loadInstitutions();'  />Телефона</>
                    <input value="ch7" type="checkbox" onchange = 'loadInstitutions();'  />Официального сайта</>
                    <input value="ch8" type="checkbox" onchange = 'loadInstitutions();'  />Email</>
                </form>
           </td>
        </tr>
        <tr id="tr2">
            <td colspan="2" id="tdMap">
                <div style="position:relative;width:100%; height:100%">
				    <div id="map_canvas" style="width:100%; height:100%"></div>
			        <div id="tdInfo"  style="position:absolute;right:0px;top:0px;overflow:scroll;max-width:33%;height:100%"></div>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>